page-login {
  .item-md{
    padding-left: 0px;
  }
  .item-checkbox{
    padding-left: 0px;
  }
  .col{
    padding-left: 0px;
    padding-right: 0px;
  }
  .grid{
    padding-left: 0px;
  }
  ion-label{
    font-size: 3.8vw;
  }
}
