page-measureplan {

}

.RowHeader {
  background-color: color($colors, primary);
}

.RowDay {
  background-color: color($colors, primaryLight);
}

.ColDay {
  text-align: center;
  border: 1px solid;
}
