page-measurements {
  //the charts are streched to the whole width
  .scroll-content {
      padding: 0px !important;
  }
  .swiper-container {
    height: auto;
    display: block;
  }
  .values {
    height: 500px;
  }
}

chart{
  width: 100%;
}
