page-home {
  ion-content {
    ion-icon {
      font-size: 4rem;
    }
    ion-fab{
      button{
        height: 56px !important;
      }
    }
    button {
      height: inherit !important;
    }
    ion-fab{
      button{
        height: 56px !important;
      }
    }
  }
}

.menuGrid {
  padding: 0;
}

.menuCol {
  padding: 0;
  align-items: center;
}

.homeButton {
  width: 100%;
}

.ion-loading-c {
  font-size: 90px;
}
