page-nutrition {
  .rotate {
    transform: rotate(-90.0deg);
  }
  .head {
    height: 5em;
  }
  .swiper-container {
    height: auto;
    display: block;
  }
}
.dataDetails {
  .alert-input-wrapper:nth-child(2):before{
    content: "Portion in Gramm";
  }
  .alert-input-wrapper:nth-child(3):before{
      content: "Kohlenhydrate in Gramm";
    }
.swiper-slide{
  font-size: $font-size-base !important;
}
}
.alert-wrapper {
    overflow-y: scroll;
}
.alert-button-group {
    min-height: 3.5em;
}
.alert-md .alert-message,
.alert-md .alert-input-group {
  padding: 0 24px 5px 24px;
}
