<ion-header>
  <ion-navbar>
    <ion-title>Ernährung</ion-title>
    <ion-buttons end>
      <button ion-button end (click)='openActionSheet()'>
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-slides pager>
    <ion-slide>
      <content>
        <div id="nutrition">
          <ion-item-divider class="divider" (click)="expand($event.srcElement)">Kohlenhydrate</ion-item-divider>
          <chart class='c' type="StockChart" [options]="chartCarbo"></chart>
        </div>
        <p *ngIf="nutritionDetailList == 0">Es sind keine Einträge zur Ernährung vorhanden.</p>
        <table *ngIf="nutritionDetailList != 0">
          <thead>
            <th class="borderRight">Datum</th>
            <th colspan="6">Kohlenhydrate in Gramm</th>
          </thead>
          <tbody>
            <tr class='head'>
              <td class=''></td>
              <td class='rotate'>Morgen</td>
              <td class='rotate'>Znüni</td>
              <td class='rotate'>Mittag</td>
              <td class='rotate'>Zvieri</td>
              <td class='rotate'>Abend</td>
              <td class='rotate'>Nacht</td>
            </tr>
            <tr *ngFor="let item of nutritionList">
              <td>{{item[0] | date:'dd.MM.yyyy'}}</td>
              <td>{{item[1]}}</td>
              <td>{{item[2]}}</td>
              <td>{{item[3]}}</td>
              <td>{{item[4]}}</td>
              <td>{{item[5]}}</td>
              <td>{{item[6]}}</td>
            </tr>
          </tbody>
        </table>
      </content>
    </ion-slide>
    <ion-slide>
      <content>
        <ion-grid>
          <ion-row class="RowHeader">
            <ion-col col-3 class="boldText borderRight">
              Datum
            </ion-col>
            <ion-col col-3 class="boldText borderRight">
              Artikel
            </ion-col>
            <ion-col col-2 class="boldText borderRight">
              Portion
            </ion-col>
            <ion-col col-4 class="boldText">
              Kohlenhydrate
            </ion-col>
          </ion-row>
          <ion-row class="RowHeader">
            <ion-col col-3 class="borderRight">
            </ion-col>
            <ion-col col-3 class="borderRight">
            </ion-col>
            <ion-col col-2 class="borderRight">
              g
            </ion-col>
            <ion-col col-4>
              g
            </ion-col>
          </ion-row>
          <ion-row class="borderBottom centerText" *ngFor="let item of nutritionDetailList" (click)="edit(item)">
            <ion-col col-3 class="borderRight">
              {{item.date | date:'dd.MM.yyyy hh:mm'}}
            </ion-col>
            <ion-col col-3 class="borderRight">
              {{item.desc}}
            </ion-col>
            <ion-col col-2 class="borderRight">
              {{item.port}}
            </ion-col>
            <ion-col col-4>
              {{item.carb}}
            </ion-col>
          </ion-row>
          <p *ngIf="nutritionDetailList == 0">Es sind keine Einträge zur Ernährung vorhanden.</p>
        </ion-grid>
      </content>
    </ion-slide>
  </ion-slides>
</ion-content>
