// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.highcharts-credits {
  display: none;
}

.divider {
  background-color: color($colors, primary);
  color: black;
  font-weight: bold;
  font-size: 18px;
}
ion-item-divider {
  ion-label {
    height: 100%;
    width: 100%;
    align-self: inherit;
  }
}
ion-header{
  ion-icon{
    font-size: 2.5em;
  }
  .customIcon{
    font-size: 2.4rem;
  }
  .toolbar-title{
    font-size: 1.7em !important;
  }
}
.swiper-container{
	overflow: visible;
  height: inherit;
}
.swiper-slide{
	display: block;
  height: inherit;
}
.swiper-wrapper{
  height: inherit;
}
.tabs-md .tab-button {
	max-height: 5.6rem
}
ion-slide.swiper-slide.swiper-slide-active{
  height: inherit;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets{
  bottom: 5.7rem;
  position: fixed;
  background-color: rgb(248,248,248)
}
