<ion-header>
  <ion-grid class="menuGrid">
    <ion-row align-items: center>
      <ion-col class="menuCol">
        {{resultFromBarcode}}
      </ion-col>
      <ion-col class="menuCol">
        <ion-title>Home</ion-title>
      </ion-col>
      <ion-col class="menuCol">
        <button primary (click)="scan()">
          <ion-icon name="add-circle"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding>
  <ion-list class="mediList">

    <ion-item-divider class="divider"> Regelmässige Medikamente </ion-item-divider>

    <ion-item *ngFor="let m of medis" (click)="detailMedi(m)" text-wrap class="medi">
      {{m.title}}
    </ion-item>

    <ion-item-divider class="divider"> Selbstgekaufte Medikamente </ion-item-divider>

    <ion-item *ngFor="let m of medis" (click)="detailMedi(m)" text-wrap class="medi">
      {{m.title}}
    </ion-item>

    <ion-item-divider class="divider"> Insulin </ion-item-divider>

    <ion-item *ngFor="let m of medis" (click)="detailMedi(m)" text-wrap class="medi">
      {{m.title}}
    </ion-item>

    <ion-item-divider class="divider"> Unverträglichkeiten </ion-item-divider>

    <ion-item *ngFor="let m of medis" (click)="detailMedi(m)" text-wrap class="medi">
      {{m.title}}
    </ion-item>

  </ion-list>
</ion-content>
