<ion-header>
  <ion-navbar>
    <ion-title>Medikation</ion-title>
    <ion-buttons end>
      <button ion-button primary (click)="scan()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
      <button primary (click)="scanTest()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button primary (click)="getMedication()">
        <ion-icon name="download"></ion-icon>
      </button>
      <button primary (click)="connectBLS()">
        <ion-icon name="beer"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list class="mediList">

    <ion-item-divider class="divider"> Regelmässige Medikamente </ion-item-divider>

    <ion-item *ngFor="let m of chronicMedis" (click)="detailMedi(m)" text-wrap class="medi">
      {{m.title}}
    </ion-item>

    <ion-item-divider class="divider"> Selbstgekaufte Medikamente </ion-item-divider>

    <ion-item *ngFor="let m of selfMedis" (click)="detailMedi(m)" text-wrap class="medi">
      {{m.title}}
    </ion-item>

    <ion-item-divider class="divider"> Insulin </ion-item-divider>

    <ion-item *ngFor="let m of insulin" (click)="detailMedi(m)" text-wrap class="medi">
      {{m.title}}
    </ion-item>

    <ion-item-divider class="divider"> Unverträglichkeiten </ion-item-divider>

    <ion-item *ngFor="let m of intolerances" (click)="detailMedi(m)" text-wrap class="medi">
      {{m.title}}
    </ion-item>

  </ion-list>
</ion-content>
